{% extends "tienda_app/base_template.html" %}
{% load static %}
		<!-- Start Header/Navigation -->
		<!-- End Header/Navigation -->
{% block index%}
		<!-- Start Hero Section -->
		<!-- End Hero Section -->

		<!-- Start Why Choose Us Section -->
		{% include 'tienda_app/chooseUs.html' %}
		<!-- End Why Choose Us Section -->

		<!-- Start Team Section -->
		<!-- End Team Section -->

		<!-- Start Testimonial Slider -->
		{% include 'tienda_app/testimonials.html' %}
		<!-- End Testimonial Slider -->
		
		<!-- Start Footer Section -->
		<!-- End Footer Section -->	
{% endblock %}