{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="{% static 'tienda_app/images/favicon.png' %}">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<link href="{% static 'tienda_app/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static 'tienda_app/css/tiny-slider.css' %}" rel="stylesheet">
		<link href="{% static 'tienda_app/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'tienda_app/scss/style.scss' %}" rel="stylesheet">
		<title>Shining </title>
	</head>
    <body>
        {% include 'tienda_app/nav_bar.html' %}
        {% block index %}

        {% endblock %}

        {% include 'tienda_app/footer.html' %}
        <script src="{% static 'tienda_app/js/bootstrap.bundle.min.js' %}"></script>
		    <script src="{% static 'tienda_app/js/tiny-slider.js' %}"></script>
		    <script src="{% static 'tienda_app/js/custom.js' %}"></script>
        <script src="{% static 'tienda_app/js/validations.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>
</html>