{% extends "tienda_app/base_template.html" %}
{% load static %}

{% block index %}
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Ropa de diseño <span clsas="d-block">Hecha a mano</span></h1>
								<p class="mb-4">Ropa de alta calidad diseñada y hecha con pasión</p>
								<p><a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a><a href="{% url 'shop' %}" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div style="margin-top:-3%">
								<img src="{% static 'tienda_app/images/foto6.png' %}" class="img-fluid" style="height:500px" >
							</div>
						</div>
					</div>
				</div>
			</div>

		{% include 'tienda_app/chooseUs.html' %}

		<div class="we-help-section">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-7 mb-5 mb-lg-0">
						<div class="imgs-grid">
							<div class="grid grid-1"><img src="{% static 'tienda_app/images/foto2.webp' %}" alt="Untree.co"></div>
							<div class="grid grid-2"><img src="{% static 'tienda_app/images/foto3.webp' %}" alt="Untree.co"></div>
							<div class="grid grid-3"><img src="{% static 'tienda_app/images/foto4.webp' %}" alt="Untree.co"></div>
						</div>
					</div>
					<div class="col-lg-5 ps-lg-5">
						<h2 class="section-title mb-4">Ropa hecha a mano por nuestro artista</h2>
						<p>Nuestro artista se encarga del diseño y confección de todas nuestras prendas. X; nuestro artista después de muchos años dedicado al arte multidisciplinar se ha decidido a plasmar su arte en su nueva marca de moda; Shining. Para lograr un gran acabado ha pasado varios años aprendiendo y perfeccionando las mejores técnicas de costura</p>
						<p><a href="{% url 'shop' %}" class="btn">Explorar</a></p>
					</div>
				</div>
			</div>
		</div>
		{% include 'tienda_app/testimonials.html' %}
{% endblock %}
