{% extends "tienda_app/base_template.html" %}
{% load static %}

		<!-- Start Header/Navigation -->

		<!-- End Header/Navigation -->
	{% block index%}
		<!-- Start Hero Section -->
		<!-- End Hero Section -->
		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

				{% for prenda in prendas %}
			
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="{% url 'agregar_al_carrito' prenda.id %}">
							<img src="{% static 'tienda_app/images/product-3.png' %}" class="img-fluid product-thumbnail">
							<h3 class="product-title"> {{ prenda.nombre }} </h3>
							<strong class="product-price">${{ prenda.precio }}</strong>

							<span class="icon-cross">
								<img src="{% static 'tienda_app/images/cross.svg' %}" class="img-fluid">
							</span>
						</a>
					</div> 
			
				{% endfor %}
					<!-- Start Column 2 -->
					
					<!-- End Column 4 -->

		      	</div>
		    </div>
		</div>
{% endblock %}