{% load static %}

<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Opiniones</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">
                        
                        {% for i in "012" %}
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Descubrir Shining ha sido una de las mejores experiencias en mi camino hacia una moda consciente y elegante. Esta marca no solo se destaca por su impecable diseño y calidad superior, sino también por su compromiso con la sostenibilidad y la responsabilidad social, lo que la convierte en una opción ideal para los consumidores modernos y conscientes.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{% static 'tienda_app/images/person-1.png' %}" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Maria Jones</h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {%endfor%} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>