{% extends 'tienda_app/base_template.html' %}

{% block index %}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">

        {% if form.errors %}
            <div class="alert alert-danger animate__animated animate__fadeOut animate__delay-5s " role="alert">
                Hubo un problema, porfavor escribe todos los campos bien y vuelve a intentarlo.
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <br/>
            <br/>

            <input type="submit" class="btn btn-primary" value="Registrarse">
        </form>
    </div>
</section>

{% endblock %}